body {
  background-color: black;
  font-family: arial;
  color: white;
  display: block;
}

h1 {
  color: grey;
  font-family: verdana;
  text-align: left;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
  text-align: left;
}
/* align the input labels*/
.maindiv label {
  display: inline-block;
  width: 9em;
  text-align: left;
  padding-left: 5em;
}
.maindiv input {
  display: inline-block;
}
.maindiv button {
  display: inline-block;
  text-align: center;
  margin-left: 6em;
}
/* align the output*/
#result {
  display: inline-block;
  width: 20em;
  text-align: left;
  padding-left: 5em;

}
